= form_for @clinic do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :address1
    %br
    = f.text_field :address1
  %p
    = f.label :address2
    %br
    = f.text_field :address2
  %p
    = f.label :postalcode
    %br
    = f.text_field :postalcode
  %p
    = f.label :city
    %br
    = f.text_field :city
  %p
    = f.label :province
    %br
    = f.text_field :province
  %p
    = f.label :phone1
    %br
    = f.text_field :phone1
  %p
    = f.label :fax
    %br
    = f.text_field :fax
  %p
    = f.label :status
    %br
    = f.text_area :status
  %p
    = f.label :interest
    %br
    = f.text_area :interest
  %p
    = f.label :referral_criteria
    %br
    = f.text_area :referral_criteria, :id => :referral_criteria
  %p
    = f.label :referral_process
    %br
    = f.text_area :referral_process, :id => :referral_process
  %p
    = f.label :waittime
    %br
    = f.number_field :waittime
  %p
    = f.label :procedures, "Scope of practice"
    %br
    - @clinic.specialization.procedures.each do |procedure|
      %br
      = check_box_tag :procedure_ids, procedure.id, @clinic.procedures.include?(procedure), :name => 'clinic[procedure_ids][]'
      = label_tag :procedure_ids, procedure.name
  / FIXME - this should probably be done as specialists - hidden field
  %p
    = f.label :specialization_id
    %br
    = f.select(:specialization_id, options_for_select(Specialization.all.collect {|s| [s.name, s.id]}, [@clinic.specialization_id]), {:include_blank => true})
  %p
    = f.submit
