= form_for @clinic do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :address1
    %br
    = f.text_field :address1
  %p
    = f.label :address2
    %br
    = f.text_field :address2
  %p
    = f.label :postalcode
    %br
    = f.text_field :postalcode
  %p
    = f.label :city
    %br
    = f.text_field :city
  %p
    = f.label :province
    %br
    = f.text_field :province
  %p
    = f.label :phone1
    %br
    = f.text_field :phone1
  %p
    = f.label :fax
    %br
    = f.text_field :fax
  %p
    = f.label :status
    %br
    = f.text_area :status
  %p
    = f.label :interest
    %br
    = f.text_area :interest
  %p
    = f.label :waittime
    %br
    = f.number_field :waittime
  %p
    = f.label :specialization_id
    %br
    = f.number_field :specialization_id
  %p
    = f.submit
