/ - title "Specialist"

%h1
  = @clinic.name
%p
  %i
    = @clinic.address + ", "
    = @clinic.city + ', ' + @clinic.province + ', ' +  @clinic.postalcode
    %br
    = @clinic.phone1 + ', '
    = "fax: #{@clinic.fax}"
/ %p
/   %strong Scope of practice:
/   - @clinic.procedures.each do |procedure|
/     %span.light-highlight= procedure.name
%p
  %strong Status:
  = @clinic.status
%p
  %strong Referral Criteria:
  = @clinic.referral_criteria

%p
  %strong Referral Process:
  = @clinic.referral_process
%p
  %strong Attending physicians:
  - @clinic.specialists.each do |specialist|
    = link_to(specialist.name, url_for(specialist)) + raw("<br/>")
%p
  %strong Wait time (avg in weeks): #{@clinic.waittime}

%p
  = link_to "Edit", edit_specialization_specialist_path(@clinic.specialization, @clinic)
  |
  = link_to "Destroy", @clinic, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All #{@clinic.specialization.name}", specialization_path(@clinic.specialization)
  / |
  / # = link_to "View All Specialists", specialists_path

