/ - title "Specialist"

%h1
  = @clinic.name
  
#address.collapseup
  = @clinic.address.strip + ", " + @clinic.city.strip + ', ' + @clinic.province.strip + ', ' +  @clinic.postalcode
  
#phone
  %strong Phone:
  = @clinic.phone1.presence || "unknown"
 
#fax.collapseup
  %strong Fax:
  = @clinic.fax.presence || "unknown"

#responds_via.collapseup
  %strong Responds via:
  = @clinic.responds_via.presence || "unspecified"
  
#status
  %strong Status:
  = @clinic.status

#wait_time
  %strong Average wait time:
  = (@clinic.waittime.to_s().presence || "unknown") + " weeks"

#referral_criteria
  %strong Referral Criteria:
  = @clinic.referral_criteria.presence || "unspecified"

#referral_process
  %strong Referral Process:
  = @clinic.referral_process.presence || "unspecified"
  
#scope
  %strong Scope of practice:
  - if @clinic.procedures.empty? 
    unspecified
  - else 
    %ul
      - @clinic.procedures.each do |procedure|
        %li= procedure.name

#attending_physicians
  %strong Attending physicians:
  - if @clinic.specialists.empty? 
    unspecified
  - else 
    %ul
    - @clinic.specialists.each do |specialist|
      %li= link_to(specialist.name, url_for(specialist))

#edit
  = link_to "Edit", edit_specialization_clinic_path(@clinic.specialization, @clinic)
  |
  = link_to "Destroy", @clinic, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All #{@clinic.specialization.name}", specialization_path(@clinic.specialization)
  / |
  / # = link_to "View All Specialists", specialists_path

