/ a bit messy, and probably there is a better way of handling multiple controllers reusing this form
- form_method    = params[:action]     == 'new' ? :post   : :put
- current_action = params[:action]     == 'new' ? :create : :update
- form_action    = params[:controller] == 'specialists_editor' ? :update : current_action
- debugger
= simple_form_for @specialist, :url => {:controller => params[:controller], :action => form_action}, :method => form_method do |f|
  = f.error_messages
  - if @view
    .error_messages
      %h2 You are editing your record in the Fraser NW Division of Family Practice Resource database
      %p This database exists to make make our practices, and your practice more efficient. By providing the information requested below you are making it easier for family doctors to find your practice, ensure that they are providing you with the correct information, and that your scopes of practice are fully understood.
  
  - if current_user && current_user.admin?    
    %fieldset
      %legend Edit contact information to allow specialists to edit their own forms - this information is only visible to admins.
      = f.input :contact_name
      = f.input :contact_email
      = f.input :contact_phone
      = f.input :contact_notes, hint: "Include contact's role (MOA, etc.) and anything else we should know."
    %fieldset
      %legend Doctor Information
      = f.input :firstname, label: 'First Name', wrapper_html: {class: 'firstname'}
      = f.input :lastname, label: 'Last Name', wrapper_html: {class: 'lastname'}
      = f.input :phone1, label: "Phone"
      = f.input :direct_phone, label: "Direct Phone"
      = f.input :fax

  %fieldset
    %legend Address
    = f.input :address1, label: "Street Address"
    = f.input :address2, label: "Apt, Suite, Bldg. (Optional)"
    = f.input :city, wrapper_html: {class: 'city'}
    = f.input :province, wrapper_html: {class: 'province'}
    = f.input :postalcode, label: "Postal Code", wrapper_html: {class: 'postalcode'}
  = f.input :responds_via, as: :text, hint: "How does the Dr. respond to referral requests (phone to GP office, fax to GP office, phone to patient, other...)"
  = f.input :status, as: :text
  = f.input :referral_criteria, as: :text, hint: "Criteria for referral, what forms and investigations are required for referrals for different procedures"
  = f.input :interest, as: :text
  = f.input :red_flags, as: :text, hint: "Urgent situations, and process for having them addressed"
  = f.input :waittime, label: "Wait time", hint: "(avg in weeks)", as: :integer, input_html: {min: 0}

  = f.association :clinics, as: :select, collection: @specialization_clinics

  = f.association :hospitals, as: :check_boxes

  = f.association :procedures, as: :check_boxes, collection: @specialist.specialization.procedures.done_by_specialists

  / FIXME - This shouldn't be in the view. Should be set by parent resource in controller.
  %p
    = f.input :specialization_id, as: :hidden

    = f.submit
