/ a bit messy, and probably there is a better way of handling multiple controllers reusing this form
- form_method    = params[:action]     == 'new' ? :post   : :put
- current_action = params[:action]     == 'new' ? :create : :update
- form_action    = params[:controller] == 'specialists_editor' ? :update : current_action

= simple_nested_form_for @specialist, :url => {:controller => params[:controller], :action => form_action}, :method => form_method do |f|
  = f.error_messages
  - if @view
    .error_messages
      %h2 You are editing your record in the Fraser NW Division of Family Practice Resource database
      %p This database exists to make make our practices, and your practice more efficient. By providing the information requested below you are making it easier for family doctors to find your practice, ensure that they are providing you with the correct information, and that your scope of practice is fully understood.

  %fieldset
    %h2 
      Specialist: 
      =@specialization.name
    = f.input :firstname, label: 'First Name'
    = f.input :lastname, label: 'Last Name'

  %fieldset.contact_info
    %h2 Office / Contact Information
    = f.input :phone1, label: "Phone"
    = f.input :direct_phone, label: "Direct Phone"
    = f.input :fax

    = f.input :address1, label: "Street Address"
    = f.input :address2, label: "Apt, Suite, Bldg. (Optional)"
    = f.input :city
    = f.input :province
    = f.input :postalcode, label: "Postal Code"

  - if current_user && current_user.admin?    
    %fieldset
      %h2 Senior MOA Contact Information
      %p Allows specialists to edit their own form. This information is only visible to admins.
      = f.input :contact_name, label: "Name"
      = f.input :contact_email, label: "Email"
      = f.input :contact_phone, label: "Phone"
      = f.input :contact_notes, label: "Notes", hint: "Include contact's role (MOA, etc.) and anything else we should know."

  %fieldset
    %h2 Status
    = f.input :status_mask, as: :select, collection: Specialist::STATUS_HASH, label: "Current Status", label_method: :last, value_method: :first
    = f.input :status_details, label: "Details"
    = f.input :practise_limitations, label: "Other practice Limitations (optional)"
    = f.input :location_opened, label: "Practice opened at this location", as: :select, collection: ["Prior to 2010", 2010, 2011]

  %fieldset.nested
    %h2 Areas of Practise
    %p In addition to history, PH, meds, allergies and previous OR/consultation reports, the following information/investigations are required for ALL patients.
    = f.input :required_investigations, label: "Required Investigations"
    
    %h3 Pertinent Areas of Practice/Expertise
    %p
      Referrals accepted in the following areas of practise.
      %br
      %span.quiet You can specify additional information/investigations required for an area of practise in the text field to the right of the drop-down menu.

    = f.simple_fields_for :capacities do |i|
      = i.association :procedure, as: :select, label: false, collection: @specialist.specialization.procedures.done_by_specialists, wrapper: false
      = i.input :investigation, label: false, wrapper: false
      = i.hidden_field :_destroy
      = i.link_to_remove "×", class: "button"
    = f.link_to_add "Add an area of practice", :capacities, class: "button"

    %hr

    = f.input :interest, as: :text, label: "Interested In"
    = f.input :not_performed, as: :text, label: "Does not see or do"

  %fieldset.referral_details
    %h2 Referral Details
    .mechanisms
      %span.label How does this office accept requests for standard referrals?
      = f.input :referral_fax, as: :boolean, label: "Fax", wrapper: false
      = f.input :referral_phone, as: :boolean, label: "Phone", wrapper: false
      = f.input :referral_other_details, as: :boolean, label: "Other", wrapper: false

    = f.input :lagtime, label: "Average length of time to give a booking date", hint: "in weeks", as: :integer, input_html: {min: 0}
    = f.input :waittime, label: "Average wait time from request for consultation to appointment", hint: "in weeks", as: :integer, input_html: {min: 0}

    .mechanisms
      %span.label This office will respond to referral requests
      %span.inputs
        To the referring office by:
        = f.input :respond_by_fax, as: :boolean, label: "Fax", wrapper: false
        = f.input :respond_by_phone, as: :boolean, label: "Phone", wrapper: false
        = f.input :respond_by_mail, as: :boolean, label: "Mail", wrapper: false
        %br
        = f.input :respond_to_patient, as: :boolean, label: "Directly to patient", wrapper: false
    -# = f.input :referral_response_mask, label: "Office will respond to referral requests"
    = f.input :patient_can_book, as: :select, label: "Patient can book appointment?"
    = f.input :red_flags, label: "Red Flags", as: :text, hint: "Urgent situations, and process for having them addressed"

  %fieldset
    %h2 Hospital Privileges
    = f.association :hospitals, as: :check_boxes, label: false
    = link_to "Add a Hospital", new_hospital_path, class: "button"
  
  %fieldset
    %h2 Sub-Specialty Clinics
    = f.association :clinics, as: :check_boxes, label: false, collection: @specialization_clinics
    = link_to "Add a Clinic", new_specialization_clinic_path(@specialization), class: "button"


  -# FIXME - This shouldn't be in the view. Should be set by parent resource in controller.
  %p
    = f.input :specialization_id, as: :hidden

    = f.submit
