/ - title "Specialist"

- if @is_version
  = render 'versions/info'

%h1
  = @specialist.firstname
  = @specialist.lastname + ' - '
  = @specialist.specialization.name
%p
  %i
    = @specialist.address + ", "
    = @specialist.city + ', ' + @specialist.province + ', ' +  @specialist.postalcode
    %br
    = @specialist.phone1 + ', '
    = "fax: #{@specialist.fax}"
%p
  %strong Scope of practice:
  %br/
  = compressed_procedures_indented(@specialist).html_safe
  / .procedures.each do |procedure|
  / %span.light-highlight= procedure.name
  / %br/
%p
  %strong Status:
  = @specialist.status
%p
  %strong Responds via:
  = @specialist.responds_via
%p
  %strong Referrial criteria, required forms, and investigations
  = @specialist.referral_criteria
%p
  %strong Interest:
  = @specialist.interest
%p
  %strong Red Flags (urgent situations, and process for having them addressed):
  = @specialist.red_flags
%p
  %strong Clinics:
  - @specialist.clinics.each do |clinic|
    = link_to(clinic.name, url_for(clinic))
    %br/
%p
  %strong Wait time (avg in weeks): #{@specialist.waittime}

%p
  = link_to "History", show_versions_path(@specialist)
  |
  = link_to "Edit", edit_specialization_specialist_path(@specialist.specialization, @specialist)
  |
  = link_to "Destroy", @specialist, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All #{@specialist.specialization.name}", specialization_path(@specialist.specialization)
  / |
  / # = link_to "View All Specialists", specialists_path
