/ - title "Specialist"

- if @is_version
  = render 'versions/info'

/
  - if current_user.admin?
    #flash_notice
      - if @specialist.contact_email
        %h2 Email an invitation to this specialist
        %p Clicking the below link will send an invitation to edit this record with the following special url.
        %p= specialist_self_edit_path(@specialist, @specialist.token, :only_path => false)
        %p=link_to "Email #{@specialist.contact_email}", specialist_email_path(@specialist), :method => :post
      - else
        %p To send this link with an invitation to #{link_to "edit", edit_specialization_specialist_path(@specialist.specialization, @specialist)} this specialist and add contact information
      %h4
        This specialist was contacted through the application
        = "never" if @specialist.contacts.length < 1
      = render @specialist.contacts

%h1
  = @specialist.name + ' - '
  = @specialist.specialization.name
#address.collapseup
  = @specialist.offices[0].full_address
#phone.collapseup 
  %strong Phone:
  = @specialist.offices[0].phone1.presence || "unknown"
#fax.collapseup
  %strong Fax:
  = @specialist.offices[0].fax.presence || "unknown"
#direct_contact.collapseup
  %strong Direct number (for physician contact):
  = @specialist.direct_phone.presence || "none"


- if @specialist.offices[1] and @specialist.offices[1].exists?
  #address
    %strong Second office:
    = @specialist.offices[1].full_address
  #phone.collapseup 
    %strong Phone:
    = @specialist.offices[1].phone1.presence || "unknown"
  #fax.collapseup
    %strong Fax:
    = @specialist.offices[1].fax.presence || "unknown"
  
  
#status
  %strong Status:
  = @specialist.status
- if @specialist.status_details.presence
  #status_details.collapseup
    %strong Details: 
    = @specialist.status_details
- if @specialist.practice_limitations.presence
  #practice_limitations.collapseup
    %strong Practice limitations: 
    = @specialist.practice_limitations


#referrals_via
  %strong Accepts referrals via:
  = @specialist.accepts_referrals_via
#referral_form.collapseup
  %strong Has referral form:
  = @specialist.referral_form ? "yes" : "no"
  
  
#responds_via
  %strong Responds via:
  = @specialist.responds_via
#lag_time.collapseup
  %strong Average length of time to notify GP of a booking date:
  = @specialist.lagtime_with_units
#wait_time.collapseup
  %strong Average patient wait time until appointment date:
  = @specialist.waittime_with_units
#patient_can_bokok.collapseup
  %strong Patient can book after referral:
  = @specialist.patient_can_book ? "yes, after referral this office accepts direct calls from patients to book their appointments" : "no, this office does not accept direct calls from patients"

    
#red_flags
  %strong Conditons this office feels warrants urgent consultation:
  = @specialist.red_flags.presence || "unspecified"
#urgent_referral_via.collapseup
  %strong Accepts urgent referrals via:
  = @specialist.urgent_referrals_via
  

#referral_investigations
  %strong Required investigations:
  %span In addition to history, PH, medications, allergies, and previous OR and consultation reports, this office requires the following for all patients:
  = @specialist.required_investigations.presence || "none"
#scope.collapse_up
  %strong Scope of practice (with additional required investigations):
  = procedures_investigations_list(@specialist).html_safe
  
  
#interested
  %strong Interested in: 
  = @specialist.interest.presence || "unspecified" 
#not_interested.collapseup
  %strong Not interested in: 
  = @specialist.not_interested.presence || "unspecified"  
  
  
#hospitals
  %strong Hospital privileges: 
  - if @specialist.hospitals.empty? 
    none
  - else 
    - @specialist.hospitals.each do |hospital|
      = link_to(hospital.name, url_for(hospital)) + ", "
  
  
#clinics
  %strong Works at clinics: 
  - if @specialist.clinics.empty? 
    none
  - else 
    - @specialist.clinics.each do |clinic|
      = link_to(clinic.name, url_for(clinic)) + ", "
#edit
  = link_to "History", show_versions_path(@specialist)
  |
  = link_to "Edit", edit_specialization_specialist_path(@specialist.specialization, @specialist)
  |
  = link_to "Destroy", @specialist, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All #{@specialist.specialization.name}", specialization_path(@specialist.specialization)
  / |
  / # = link_to "View All Specialists", specialists_path
