/- title "Specialities - " + @specialization.name

%h1= @specialization.name

%h2 Specialists &amp; Clinics

- items = { "Specialist" => @specialization.specialists, "Clinic" => @specialization.clinics }

- items.each_pair do |k,v|
    %table{:class => 'tablesorter {sortlist: [[0,0]]}'}
        - if not v.empty?
            %thead
                %tr
                    %th{:class => "{sorter: 'bylastname'} name_coumn"}= k
                    %th{:class => "{sorter: 'waittime'} number_column"} Wait Time
                    %th{:class => "{sorter: 'blanks_to_bottom'} city_column"} City
            %tbody
                - v.each do |specialist|
                    %tr
                        %td.name_column
                            - case k
                                - when 'Specialist'
                                    = link_to specialist.name, specialization_specialist_path(@specialization, specialist)
                                - when 'Clinic'
                                    = link_to specialist.name, specialization_clinic_path(@specialization, specialist)
                        %td.number_column= specialist.waittime_with_units
                        / FIXME - make a clink to specialists from a certain city
                        / %td= link_to "#{specialist.city}", specialization_city_path(@specialization, specialist.city)
                        %td.city_column= specialist.city

%p
    = link_to "New clinic", new_specialization_clinic_path(@specialization)
    |
    = link_to "New specialist", new_specialization_specialist_path(@specialization)
    |
    = link_to "New Area of Practise", new_specialization_procedure_path(@specialization)

%p
    = link_to "Edit", edit_specialization_path(@specialization)
    |
    = link_to "Destroy", @specialization, :confirm => 'Are you sure?', :method => :delete
    |
    = link_to "View All", specializations_path
