/ - title "Specialization"

%h1= @specialization.name

%h3 Specialists &amp; Clinics

%table{:class => 'tablesorter {sortlist: [[2,0],[3,0]]}', :id => 'specialist_table'}
  %thead
    %tr{:class => 'tableheader'}
      / see tablesorter docx for sorters 
      %th Name
      %th{:class => "{sorter: 'waittime'}"} Lag
      %th{:class => "{sorter: 'waittime'}"} Wait
      %th{:class => "{sorter: 'blanks_to_bottom'}"} City
      %th{:class => "{sorter: false}"} Scope of practice
      / %th Interests/Expertise
      / we're treating clinics as if they are specialists
  %tbody
    - (@specialization.specialists + @specialization.clinics).each do |specialist|
      %tr
        %td{:class => 'name_column'  }
          - type_of_row = specialist.class.to_s.downcase
          - case type_of_row
            - when 'specialist'
              = link_to specialist.name, specialization_specialist_path(@specialization, specialist), :class => type_of_row
            - when 'clinic'
              = link_to specialist.name, specialization_clinic_path(@specialization, specialist), :class => type_of_row
        %td{:class => 'number_column'}
        %td{:class => "number_column #{specialist.waittime?}"}= specialist.waittime_or_blank
        / FIXME - make a clink to specialists from a certain city
        / %td= link_to "#{specialist.city}", specialization_city_path(@specialization, specialist.city)
        %td{:class => 'city_column'}= specialist.city
        %td= compressed_procedures(specialist)
        / %td= specialist.interest


/ %ul
/   - @specialization.specialists.each do |specialist|
/     %li= link_to listed_specialist(specialist), specialization_specialist_path(@specialization, specialist)

%h3 Areas of Practice/Expertise
%ul{:class => 'procedure_list'}
  - @specialization.procedures.each do |procedure|
    %li= link_to listed_procedure(procedure), specialization_procedure_path(@specialization, procedure)

/ %h3 Clinics
/ %ul{:class => 'procedure_list'}
/   - @specialization.clinics.each do |clinic|
/     %li= link_to clinic.name, clinic_path(clinic)

%p
  = link_to "New clinic", new_specialization_clinic_path(@specialization)
  |
  = link_to "New specialist", new_specialization_specialist_path(@specialization)
  |
  = link_to "New Area of Practise", new_specialization_procedure_path(@specialization)

%p
  = link_to "Edit", edit_specialization_path(@specialization)
  |
  = link_to "Destroy", @specialization, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", specializations_path
