/ - title "Specialization"

%h1= @specialization.name

%h3 Specialists

%table{:class => 'grid', :id => 'specialist_table'}
  %tr
    %th Name
    %th booking confirmation
    %th Wait
    %th City
    %th Interests/Expertise
    %th Scope of practice
  - @specialization.specialists.each do |specialist|
    %tr
      %td= link_to "#{specialist.firstname} #{specialist.lastname}", specialization_specialist_path(@specialization, specialist)
      %td= ""
      %td= link_to "#{specialist.waittime}"
      %td= link_to "#{specialist.city}"
      %td= link_to "#{specialist.interest}"
      %td= specialists_procedures(specialist)


/ %ul
/   - @specialization.specialists.each do |specialist|
/     %li= link_to listed_specialist(specialist), specialization_specialist_path(@specialization, specialist)

%h3 Scope of practice
%ul{:class => 'procedure_list'}
  - @specialization.procedures.each do |procedure|
    %li= link_to listed_procedure(procedure), specialization_procedure_path(@specialization, procedure)

%h3 Clinics
%ul{:class => 'procedure_list'}
  - @specialization.clinics.each do |clinic|
    %li= link_to clinic.name, clinic_path(clinic)

%p
  = link_to "New specialist", new_specialization_specialist_path(@specialization)
  |
  = link_to "New procedure", new_specialization_procedure_path(@specialization)

%p
  = link_to "Edit", edit_specialization_path(@specialization)
  |
  = link_to "Destroy", @specialization, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", specializations_path
