/ - title "Specialization"

%h1= @specialization.name

%h3 Specialists

%table{:class => 'tablesorter {sortlist: [[2,0],[3,0]]}', :id => 'specialist_table'}
  %thead
    %tr
      %th Name
      %th Lag
      %th Wait
      %th City
      %th{:class => "{sorter: false}"} Scope of practice
      / %th Interests/Expertise
  - @specialization.specialists.each do |specialist|
    %tr
      %td{:class => 'name_column'  }= link_to "#{specialist.firstname} #{specialist.lastname}", specialization_specialist_path(@specialization, specialist)
      %td{:class => 'number_column'}= ""
      %td{:class => 'number_column'}= specialist.waittime
      / FIXME - make a clink to specialists from a certain city
      / %td= link_to "#{specialist.city}", specialization_city_path(@specialization, specialist.city)
      %td{:class => 'city_column'}= specialist.city
      %td= specialists_procedures(specialist)
      / %td= specialist.interest


/ %ul
/   - @specialization.specialists.each do |specialist|
/     %li= link_to listed_specialist(specialist), specialization_specialist_path(@specialization, specialist)

%h3 Scope of practice
%ul{:class => 'procedure_list'}
  - @specialization.procedures.each do |procedure|
    %li= link_to listed_procedure(procedure), specialization_procedure_path(@specialization, procedure)

%h3 Clinics
%ul{:class => 'procedure_list'}
  - @specialization.clinics.each do |clinic|
    %li= link_to clinic.name, clinic_path(clinic)

%p
  = link_to "New clinic", new_specialization_clinic_path(@specialization)
  |
  = link_to "New specialist", new_specialization_specialist_path(@specialization)
  |
  = link_to "New procedure", new_specialization_procedure_path(@specialization)

%p
  = link_to "Edit", edit_specialization_path(@specialization)
  |
  = link_to "Destroy", @specialization, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", specializations_path
