%ul.versions
  - @versions.each do |version|
    %li
      .item
        = activity_badge(version)

        - if (version.to_review == true) && (controller_name == 'reviews')
          %span.actions
            = button_to "Accept", review_accept_path(version), method: :put
            = link_to "Reject", review_path(version), action: :destroy, method: :delete

        %span.event 
          #{version.evented.titlecase} by 
          = whodunnit_name(version)
          #{time_ago_in_words(version.created_at)} ago

        %span.item 
          = link_to_item(version)
          - if association_details(version)
            = "- #{association_details(version)}"

      - if version.changeset.present?
        %ul.changeset
          - version.changeset.each do |attribute, changeset|
            %li
              %span.title= version.item_type.constantize.human_attribute_name(attribute)
              - if changeset[0].present?
                %span.change
                  %span.label From:
                  = translate_changes(version, attribute, changeset[0])
              - if changeset[1].present?
                %span.change
                  %span.label To:
                  = translate_changes(version, attribute, changeset[1])