/ - title "Scope of practice"

/ FIXME, this should iterate through @procedure's specializations
%h1
  = @procedure.name + ' - ' + @procedure.specialization.name

  %table{:class => 'tablesorter', :id => 'specialist_table'}
    %thead
      %tr
        %th Name
        %th Lag
        %th Wait
        %th City
        %th Hospital
        %th Clinics
    - @procedure.specialists.each do |specialist|
      %tr
        %td{:class => "name_column"}= link_to "#{specialist.firstname} #{specialist.lastname}", specialization_specialist_path(@procedure, specialist)
        %td{:class => "number_column"}
        %td{:class => "number_column"}= specialist.waittime
        %td= specialist.city
        %td= specialist.hospitals
        %td= specialist.clinics
        / %td= link_to "#{specialist.interest}"
        / %td= specialists_procedures(specialist)


/ %ul
/   - @procedure.specialists.each do |specialist|
/     %li
/       = link_to listed_specialist(specialist), specialization_specialist_path(specialist.specialization, specialist)

%p
  = link_to "Edit", edit_procedure_path(@procedure)
  |
  = link_to "Destroy", @procedure, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All #{@procedure.specialization.name}", specialization_path(@procedure.specialization)
  / |
  / |
  / #= link_to "View All", procedures_path
