/ - title "Scope of practice"

/ FIXME, this should iterate through @procedure's specializations
%h1
    = @procedure.name + ' - ' + @procedure.specialization.name
%h2 Specialists and Clinics

- items = { "Specialist" => @procedure.specialists, "Clinic" => @procedure.clinics }

%table{:class => 'tablesorter {sortlist: [[0,0]]}', :id => 'specialist_table'}
    - items.each_pair do |k,v|
        - if not v.empty?
            %thead
                %tr
                    %th{:class => "{sorter: 'bylastname'} name_column"}= k
                    %th{:class => "{sorter: 'waittime'} number_column"} Wait Time
                    %th{:class => "{sorter: 'blanks_to_bottom'} city_column"} City
            %tbody
                - v.each do |specialist|
                    %tr
                        %td.name_column
                            - case k
                                - when 'Specialist'
                                    = link_to specialist.name, specialization_specialist_path(@procedure.specialization, specialist)
                                - when 'Clinic'
                                    = link_to specialist.name, specialization_clinic_path(@procedure.specialization, specialist)
                        %td.number_column= specialist.waittime_with_units
                        / FIXME - make a clink to specialists from a certain city
                        / %td= link_to "#{specialist.city}", specialization_city_path(@specialization, specialist.city)
                        %td.city_column= specialist.city


%p
    = link_to "Edit", edit_procedure_path(@procedure)
    |
    = link_to "Destroy", @procedure, :confirm => 'Are you sure?', :method => :delete
    |
    = link_to "View All #{@procedure.specialization.name}", specialization_path(@procedure.specialization)
    / |
    / |
    / #= link_to "View All", procedures_path
