!!!
%html

  %head
    %title
      = yield(:title) || "Untitled"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/

    /[if lte IE 9]
      =stylesheet_link_tag 'application-ie'

    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
    = yield(:head)

  %body{:id => "#{params[:controller]}_page"}
    .container
      #header.row
        #logo.fourcol 
          %a{:href => "/"} PATHWAYS
        #nav.eightcol.last
          - if logged_in? and current_user.admin?
            = link_to "Track Specialists", tracker_path
            = link_to "Manage Users", users_path
            = link_to "Activity", all_versions_path
            = link_to "Review Queue (#{Review.count})", reviews_path
          - if logged_in?
            = link_to "Logout", logout_url

      #content.row
        - unless params[:controller] == 'user_sessions'
          %iframe#searchbox.fourcol{:src => "/navigation"}

        #wrapper.eightcol.last
          #container{:class => "container_#{params[:controller]}"}
            - flash.each do |name, msg|
              = content_tag :div, raw(msg), :id => "flash_#{name}"
            - if show_title?
              %h1= yield(:title)
            = yield
