!!!
%html

  %head
    %title
      = yield(:title) || "Untitled"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    /[if lte IE 9]
      =stylesheet_link_tag 'application-ie'

    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
    = yield(:head)

  %body{:id => "#{params[:controller]}_page"}
    #header
      - if logged_in? and current_user.admin?
        = link_to "manage users", users_path
        |
        = link_to "activity", all_versions_path
        |
      - if logged_in?
        = link_to "home", '/'
        | 
        = link_to "logout", logout_url
    - unless params[:controller] == 'user_sessions'
      %div{:id => 'searchbox'}
        %iframe{:src => "/searchbox.html", :id => 'searchbox_frame'}
    #container{:class => "container_#{params[:controller]}"}
      %div{:style => "margin-bottom: 5px; float: right;"} 

      - flash.each do |name, msg|
        = content_tag :div, raw(msg), :id => "flash_#{name}"
      - if show_title?
        %h1= yield(:title)
      = yield
